schemas/2.3.14/paypal-transaction.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XMLSpy v2009 sp1 (http://www.altova.com) -->
<xs:schema xmlns="http://ws.plimus.com" xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:jaxb="http://java.sun.com/xml/ns/jaxb" jaxb:version="2.0"
	targetNamespace="http://ws.plimus.com">
	<xs:include schemaLocation="order-common.xsd"/>
	<xs:element name="paypal-transaction">
		<xs:complexType>
			<xs:sequence>
				<!-- for the request: -->
				<xs:element ref="return-url" minOccurs="0" maxOccurs="1" />
				<xs:element ref="cancel-url" minOccurs="0" maxOccurs="1" />
				<xs:element ref="req-confirm-shipping" minOccurs="0" maxOccurs="1"/>
                <xs:element ref="no-shipping" minOccurs="0" maxOccurs="1"/>

				<!-- for the response: -->
				<xs:element ref="paypal-url" minOccurs="0" maxOccurs="1" />
				<xs:element ref="order-id" minOccurs="0" maxOccurs="1" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="return-url">
		<xs:simpleType>
			<xs:restriction base="xs:string" />
		</xs:simpleType>
	</xs:element>

	<xs:element name="cancel-url">
		<xs:simpleType>
			<xs:restriction base="xs:string" />
		</xs:simpleType>
	</xs:element>

	<xs:element name="paypal-url">
		<xs:simpleType>
			<xs:restriction base="xs:string" />
		</xs:simpleType>
	</xs:element>
	
	<xs:element name="req-confirm-shipping">
        <xs:simpleType>
            <xs:restriction base="xs:int">
                    <xs:enumeration value="0" />
                    <xs:enumeration value="1" />
            </xs:restriction>
        </xs:simpleType>
    </xs:element>
    <xs:element name="no-shipping">
        <xs:simpleType>
            <xs:restriction base="xs:int">
                    <xs:enumeration value="0" />
                    <xs:enumeration value="1" />
                    <xs:enumeration value="2" />
            </xs:restriction>
        </xs:simpleType>
	</xs:element>
</xs:schema>
