schemas/XSDs/cb911.xsd.bak

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XMLSpy v2009 sp1 (http://www.altova.com)-->
<xs:schema xmlns="http://ws.plimus.com" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:jaxb="http://java.sun.com/xml/ns/jaxb" jaxb:version="2.0"
           targetNamespace="http://ws.plimus.com">
    <xs:include schemaLocation="order.xsd"/>

    <xs:element name="cb911-data">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="merchant-id" type="xs:long" form="qualified"/>
                <xs:element ref="shopper"/>
                <xs:element ref="post-sale-info"/>
                <xs:element ref="card-history"/>
                <xs:element name="additional-info" form="qualified">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element ref="processing-info"/>
                            <xs:element name="three-d-secure" type="xs:boolean" form="qualified"/>
                            <xs:element ref="kount-info"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="card-history">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="post-sale-info" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="kount-info">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="fingerprint" type="xs:string" form="qualified"/>
                <xs:element name="mobile-device" type="xs:string" form="qualified"/>
                <xs:element name="mobile-type" type="xs:string" form="qualified"/>
                <xs:element name="uas" type="xs:string" form="qualified"/>
                <xs:element name="browser" type="xs:string" form="qualified"/>
                <xs:element name="os" type="xs:string" form="qualified"/>
                <xs:element name="ip-ipad" type="xs:string" form="qualified"/>
                <xs:element name="ip-country" type="xs:string" form="qualified"/>
                <xs:element name="ip-region" type="xs:string" form="qualified"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

</xs:schema>
