schemas/XSDs/notifications-config.xsd

<?xml version="1.0" encoding="UTF-8"?>
	<!--W3C Schema generated by XMLSpy v2009 sp1 (http://www.altova.com)-->
<xs:schema xmlns="http://ws.plimus.com" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:jaxb="http://java.sun.com/xml/ns/jaxb" jaxb:version="2.0"
	targetNamespace="http://ws.plimus.com">
	<xs:include schemaLocation="vendor-info.xsd"/>

	<xs:element name="notification-config">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ipn-destinations" minOccurs="0" maxOccurs="unbounded" />
				<xs:element ref="ensure-notification-receipt" minOccurs="1" maxOccurs="1" />
				<xs:element ref="receive-affiliate-notifications" minOccurs="1" maxOccurs="1" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="ipn-destinations">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ipn-url" minOccurs="1" maxOccurs="1" />
				<xs:element ref="default-ipns" minOccurs="1" maxOccurs="1"/>
				<xs:element ref="on-demand-ipns" minOccurs="1" maxOccurs="1"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="default-ipns">
		<xs:simpleType>
			<xs:restriction base="xs:boolean" />
		</xs:simpleType>
	</xs:element>
	<xs:element name="on-demand-ipns">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="send-cc-failure" minOccurs="1" maxOccurs="1"/>
				<xs:element ref="send-sub-cc-failure" minOccurs="1" maxOccurs="1"/>
				<xs:element ref="send-under-vendor-review" minOccurs="1" maxOccurs="1"/>
				<xs:element ref="send-payment-update" minOccurs="1" maxOccurs="1"/>
				<xs:element ref="send-payment-update-failure" minOccurs="1" maxOccurs="1"/>
				<xs:element ref="send-account-updater" minOccurs="1" maxOccurs="1"/>
				<xs:element ref="send-payout" minOccurs="1" maxOccurs="1"/>
				<xs:element ref="send-vendor-status-changed" minOccurs="1" maxOccurs="1"/>
				<xs:element ref="send-fraud-decline" minOccurs="1" maxOccurs="1"/>
				<xs:element ref="send-charge-pending" minOccurs="1" maxOccurs="1"/>
				<xs:element ref="send-shopper-deleted" minOccurs="1" maxOccurs="1"/>
				<xs:element ref="send-vendor-report-available" minOccurs="1" maxOccurs="1"/>
				<xs:element ref="send-merchant-onboarded" minOccurs="1" maxOccurs="1"/>
				<xs:element ref="send-offline-order" minOccurs="1" maxOccurs="1"/>
				<xs:element ref="send-cc-status-changed" minOccurs="1" maxOccurs="1"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="ensure-notification-receipt">
		<xs:simpleType>
			<xs:restriction base="xs:boolean" />
		</xs:simpleType>
	</xs:element>
	<xs:element name="receive-affiliate-notifications">
		<xs:simpleType>
			<xs:restriction base="xs:boolean" />
		</xs:simpleType>
	</xs:element>

	<xs:element name="send-cc-failure">
		<xs:simpleType>
			<xs:restriction base="xs:boolean" />
		</xs:simpleType>
	</xs:element>
	<xs:element name="send-sub-cc-failure">
		<xs:simpleType>
			<xs:restriction base="xs:boolean" />
		</xs:simpleType>
	</xs:element>
	<xs:element name="send-under-vendor-review">
		<xs:simpleType>
			<xs:restriction base="xs:boolean" />
		</xs:simpleType>
	</xs:element>
	<xs:element name="send-payment-update">
		<xs:simpleType>
			<xs:restriction base="xs:boolean" />
		</xs:simpleType>
	</xs:element>
	<xs:element name="send-payment-update-failure">
		<xs:simpleType>
			<xs:restriction base="xs:boolean" />
		</xs:simpleType>
	</xs:element>
	<xs:element name="send-account-updater">
		<xs:simpleType>
			<xs:restriction base="xs:boolean" />
		</xs:simpleType>
	</xs:element>
	<xs:element name="send-payout">
		<xs:simpleType>
			<xs:restriction base="xs:boolean" />
		</xs:simpleType>
	</xs:element>
	<xs:element name="send-vendor-status-changed">
		<xs:simpleType>
			<xs:restriction base="xs:boolean" />
		</xs:simpleType>
	</xs:element>
	<xs:element name="send-fraud-decline">
		<xs:simpleType>
			<xs:restriction base="xs:boolean" />
		</xs:simpleType>
	</xs:element>
	<xs:element name="send-charge-pending">
		<xs:simpleType>
			<xs:restriction base="xs:boolean" />
		</xs:simpleType>
	</xs:element>
	<xs:element name="send-shopper-deleted">
		<xs:simpleType>
			<xs:restriction base="xs:boolean" />
		</xs:simpleType>
	</xs:element>
	<xs:element name="send-vendor-report-available">
		<xs:simpleType>
			<xs:restriction base="xs:boolean" />
		</xs:simpleType>
	</xs:element>
	<xs:element name="send-merchant-onboarded">
		<xs:simpleType>
			<xs:restriction base="xs:boolean" />
		</xs:simpleType>
	</xs:element>
	<xs:element name="send-offline-order">
		<xs:simpleType>
			<xs:restriction base="xs:boolean" />
		</xs:simpleType>
	</xs:element>
	<xs:element name="send-cc-status-changed">
		<xs:simpleType>
			<xs:restriction base="xs:boolean" />
		</xs:simpleType>
	</xs:element>
</xs:schema>
