schemas/XSDs/refund.xsd

<?xml version="1.0" encoding="UTF-8"?>
	<!--W3C Schema generated by XMLSpy v2009 sp1 (http://www.altova.com)-->
<xs:schema xmlns="http://ws.plimus.com" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:jaxb="http://java.sun.com/xml/ns/jaxb" jaxb:version="2.0"
	targetNamespace="http://ws.plimus.com">
    <xs:include schemaLocation="price.xsd" />
    <xs:include schemaLocation="vendor-refund-info.xsd"/>
    <xs:include schemaLocation="transaction-meta-data.xsd"/>
    <xs:include schemaLocation="level-3-data.xsd"/>
    <xs:element name="refund">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="refund-transaction-id" minOccurs="1" maxOccurs="1"/>
                <xs:element ref="amount"/>
                <xs:element ref="vendor-amount" minOccurs="0" maxOccurs="1"/>
                <xs:element ref="vendors-refund-info" minOccurs="0" maxOccurs="1"/>
                <xs:element ref="tax-amount" minOccurs="0" maxOccurs="1"/>
                <xs:element ref="currency"/>
                <xs:element ref="date"/>
                <xs:element ref="transaction-meta-data" minOccurs="0" maxOccurs="1"/>
                <xs:element ref="reason" minOccurs="0" maxOccurs="1"/>
                <xs:element ref="cancel-subscriptions" minOccurs="0" maxOccurs="1"/>
                <xs:element ref="level-3-data" minOccurs="0" maxOccurs="1" />
                <xs:element ref="refund-status" minOccurs="0" maxOccurs="1" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="refund-transaction-id">
        <xs:simpleType>
            <xs:restriction base="xs:long" />
        </xs:simpleType>
    </xs:element>

    <xs:element name="date">
        <xs:simpleType>
            <xs:restriction base="xs:string"/>
        </xs:simpleType>
    </xs:element>

    <xs:element name="vendors-refund-info">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="vendor-refund-info" minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="reason">
        <xs:simpleType>
            <xs:restriction base="xs:string" />
        </xs:simpleType>
    </xs:element>

    <xs:element name="cancel-subscriptions">
        <xs:simpleType>
            <xs:restriction base="xs:boolean" />
        </xs:simpleType>
    </xs:element>

    <xs:element name="refund-status">
        <xs:simpleType>
            <xs:restriction base="xs:string" />
        </xs:simpleType>
    </xs:element>

</xs:schema>
