schemas/XSDs/tax-service.xsd

<?xml version="1.0" encoding="UTF-8"?>
	<!--W3C Schema generated by XMLSpy v2009 sp1 (http://www.altova.com)-->
<xs:schema xmlns="http://ws.plimus.com" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:jaxb="http://java.sun.com/xml/ns/jaxb" jaxb:version="2.0"
	targetNamespace="http://ws.plimus.com">
	<xs:include schemaLocation="order.xsd"/>
	<xs:include schemaLocation="transaction-common.xsd"/>

	<xs:element name="tax-quote">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ship-from" minOccurs="0" maxOccurs="1" />
				<xs:element ref="ship-to" minOccurs="1" maxOccurs="1" />
				<xs:element ref="currency" minOccurs="1" maxOccurs="1" />
				<xs:element ref="lines" minOccurs="1" maxOccurs="unbounded"/>
				<!--<xs:element ref="vaulted-shopper-id" minOccurs="0" maxOccurs="1"/>-->
				<xs:element ref="shopper-vat-identification-number" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="tax-reference" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="vat-code" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="total-tax" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="status" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="used" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="company-id" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="request-date" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="total-amount" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="total-exempt" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="total-taxable" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="tax-vat-type" minOccurs="0" maxOccurs="1"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="ship-to">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="address" minOccurs="0" />
				<xs:element ref="city" minOccurs="0" />
				<xs:element ref="state" minOccurs="0"/>
				<xs:element ref="zip" minOccurs="1"/>
				<xs:element ref="country" minOccurs="1"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="ship-from">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="address" minOccurs="0" />
				<xs:element ref="city" minOccurs="0" />
				<xs:element ref="state" minOccurs="0"/>
				<xs:element ref="zip" minOccurs="1"/>
				<xs:element ref="country" minOccurs="1"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="lines">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="quantity" minOccurs="1" />
				<xs:element ref="amount" minOccurs="1"/>
				<xs:element ref="tax-code" minOccurs="0"/>
				<xs:element ref="item-code" minOccurs="1"/>
				<xs:element ref="description" minOccurs="0"/>
				<xs:element ref="tax" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="number">
		<xs:simpleType>
			<xs:restriction base="xs:int" />
		</xs:simpleType>
	</xs:element>

	<xs:element name="tax-code">
		<xs:simpleType>
			<xs:restriction base="xs:string" />
		</xs:simpleType>
	</xs:element>

	<xs:element name="item-code">
		<xs:simpleType>
			<xs:restriction base="xs:string" />
		</xs:simpleType>
	</xs:element>

	<xs:element name="total-tax">
		<xs:simpleType>
			<xs:restriction base="xs:decimal"/>
		</xs:simpleType>
	</xs:element>

	<xs:element name="shopper-vat-identification-number">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>

	<xs:element name="company-id">
		<xs:simpleType>
			<xs:restriction base="xs:int"/>
		</xs:simpleType>
	</xs:element>

	<xs:element name="request-date">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>

	<xs:element name="total-amount">
		<xs:simpleType>
			<xs:restriction base="xs:decimal"/>
		</xs:simpleType>
	</xs:element>

	<xs:element name="total-exempt">
		<xs:simpleType>
			<xs:restriction base="xs:decimal"/>
		</xs:simpleType>
	</xs:element>

	<xs:element name="total-taxable">
		<xs:simpleType>
			<xs:restriction base="xs:decimal"/>
		</xs:simpleType>
	</xs:element>

	<xs:element name="used">
		<xs:simpleType>
			<xs:restriction base="xs:boolean"/>
		</xs:simpleType>
	</xs:element>

	<xs:element name="tax-vat-type">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>

</xs:schema>
