schemas/XSDs/transaction-fraud-info.xsd

<?xml version="1.0" encoding="UTF-8"?>
	<!--W3C Schema generated by XMLSpy v2009 sp1 (http://www.altova.com)-->
<xs:schema xmlns="http://ws.plimus.com" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:jaxb="http://java.sun.com/xml/ns/jaxb" jaxb:version="2.0"
	targetNamespace="http://ws.plimus.com">
	<xs:include schemaLocation="fraud-session.xsd"/>
	<xs:include schemaLocation="shipping-contact-info.xsd"/>		
    <xs:element name="transaction-fraud-info">
       <xs:complexType> 
            <xs:sequence>
                <xs:element ref="fraud-session-id" minOccurs="0" maxOccurs="1" />
                <xs:element ref="fraud-products" minOccurs="0" maxOccurs="unbounded" />
                <xs:element ref="shopper-ip-address" minOccurs="0" maxOccurs="1" />
                <xs:element ref="customer-id" minOccurs="0" maxOccurs="1" />
                <xs:element ref="customer-creation-date" minOccurs="0" maxOccurs="1" />
                <xs:element ref="company" minOccurs="0" maxOccurs="1" />
                <xs:element ref="shipping-contact-info" minOccurs="0" />                
                <xs:element ref="enterprise-site-id" minOccurs="0" maxOccurs="1" />
                <xs:element ref="enterprise-udfs" minOccurs="0" maxOccurs="1" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>   
    <xs:element name="shopper-ip-address">
        <xs:simpleType>
            <xs:restriction base="xs:string" />
        </xs:simpleType>
    </xs:element>
    <xs:element name="customer-id">
        <xs:simpleType>
            <xs:restriction base="xs:string" />
        </xs:simpleType>
    </xs:element>
    <xs:element name="customer-creation-date">
        <xs:simpleType>
            <xs:restriction base="xs:date" />
        </xs:simpleType>
    </xs:element>
    <xs:element name="company">
        <xs:simpleType>
            <xs:restriction base="xs:string" />
        </xs:simpleType>
    </xs:element>
    <xs:element name="fraud-products">
        <xs:complexType>
        <xs:sequence>
            <xs:element ref="fraud-product-name" minOccurs="1" maxOccurs="1"/>
            <xs:element ref="fraud-product-desc" minOccurs="1" maxOccurs="1"/>
            <xs:element ref="fraud-product-type" minOccurs="1" maxOccurs="1"/>
            <xs:element ref="fraud-product-quantity" minOccurs="1" maxOccurs="1"/>
            <xs:element ref="fraud-product-price" minOccurs="1" maxOccurs="1"/>
        </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="fraud-product-name">
        <xs:simpleType>
            <xs:restriction base="xs:string" />
        </xs:simpleType>
    </xs:element>
    <xs:element name="fraud-product-desc">
        <xs:simpleType>
            <xs:restriction base="xs:string" />
        </xs:simpleType>
    </xs:element>
    <xs:element name="fraud-product-type">
        <xs:simpleType>
            <xs:restriction base="xs:string" />
        </xs:simpleType>
    </xs:element>
    <xs:element name="fraud-product-quantity">
        <xs:simpleType>
            <xs:restriction base="xs:int" />
        </xs:simpleType>
    </xs:element>
    <xs:element name="fraud-product-price">
        <xs:simpleType>
            <xs:restriction base="xs:decimal" />
        </xs:simpleType>
    </xs:element>

</xs:schema>
