schemas/XSDs/wire-transfer-info.xsd

<?xml version="1.0" encoding="UTF-8"?>
	<!--W3C Schema generated by XMLSpy v2009 sp1 (http://www.altova.com)-->
<xs:schema xmlns="http://ws.plimus.com" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:jaxb="http://java.sun.com/xml/ns/jaxb" jaxb:version="2.0"
	targetNamespace="http://ws.plimus.com">

	<xs:include schemaLocation="local-bank-transfer-info.xsd"/>

	<xs:element name="wire-transfer-info">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="account-holder" />
				<xs:element ref="bank-name" />
				<xs:element ref="bank-address" />
				<xs:element ref="bank-account-number" />
				<xs:element ref="bank-type" />
				<xs:element ref="bank-ach-aba" />
				<xs:element ref="bank-wire-aba" />
				<xs:element ref="swift-code" />
				<xs:element ref="payment-reference" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="bank-address">
		<xs:simpleType>
			<xs:restriction base="xs:string" />
		</xs:simpleType>
	</xs:element>
		<xs:element name="bank-type">
		<xs:simpleType>
			<xs:restriction base="xs:string" />
		</xs:simpleType>
	</xs:element>
		<xs:element name="bank-ach-aba">
		<xs:simpleType>
			<xs:restriction base="xs:string" />
		</xs:simpleType>
	</xs:element>
		<xs:element name="bank-wire-aba">
		<xs:simpleType>
			<xs:restriction base="xs:string" />
		</xs:simpleType>
	</xs:element>

</xs:schema>
